<?xml version="1.0"?>
<config>
    <modules>
        <Tailored_DeliveryDate>
            <version>1.0.0</version>
        </Tailored_DeliveryDate>
    </modules>
    <frontend>
        <routers>
            <deliverydate>
                <use>standard</use>
                <args>
                    <module>Tailored_DeliveryDate</module>
                    <frontName>deliverydate</frontName>
                </args>
            </deliverydate>
        </routers>
        <layout>
            <updates>
                <deliverydate>
                    <file>deliverydate.xml</file>
                </deliverydate>
            </updates>
        </layout>
        <translate>
            <modules>
                <Tailored_DeliveryDate>
                    <files>
                        <default>Tailored_DeliveryDate.csv</default>
                    </files>
                </Tailored_DeliveryDate>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<deliverydate>
				<use>admin</use>
				<args>
					<module>Tailored_DeliveryDate</module>
					<frontName>deliverydate</frontName>
				</args>
			</deliverydate>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <deliverydate>
                    <file>deliverydate.xml</file>
                </deliverydate>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <helpers>
            <deliverydate>
                <class>Tailored_DeliveryDate_Helper</class>
            </deliverydate>
        </helpers>
        <models>
            <deliverydate>
                <class>Tailored_DeliveryDate_Model</class>
                <resourceModel>deliverydate_mysql4</resourceModel>
            </deliverydate>
            <deliverydate_mysql4>
                <class>Tailored_DeliveryDate_Model_Mysql4</class>
                <entities>
                    <deliverydate>
                        <table>deliverydate</table>
                    </deliverydate>
                </entities>
            </deliverydate_mysql4>			
        </models>
		<events>
            <checkout_type_onepage_save_order>
                <observers>
                    <tailored_deliverydate_model_observer>
                        <type>singleton</type>
                        <class>Tailored_DeliveryDate_Model_Observer</class>
                        <method>deliverydate</method>
                    </tailored_deliverydate_model_observer>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
        <resources>
            <deliverydate_setup>
                <setup>
                    <module>Tailored_DeliveryDate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </deliverydate_setup>
            <deliverydate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </deliverydate_write>
            <deliverydate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </deliverydate_read>
        </resources>
        <!-- <blocks>
            <deliverydate>
                <class>Tailored_DeliveryDate_Block</class>
            </Tailored_DeliveryDate>
        </blocks> -->
    </global>
</config>
