<?xml version="1.0"?>
<config>
    <modules>
        <Tailored_Goshippo>
            <version>0.1.0</version>
        </Tailored_Goshippo>
    </modules>
    <frontend>
     <!--    <routers>
         <goshippo>
             <use>standard</use>
             <args>
                 <module>Tailored_Goshippo</module>
                 <frontName>goshippo</frontName>
             </args>
         </goshippo>
     </routers>
     <layout>
         <updates>
             <goshippo>
                 <file>goshippo.xml</file>
             </goshippo>
         </updates>
     </layout> -->
    </frontend>
    <admin>
        <routers>
            <goshippo>
                <use>admin</use>
                <args>
                    <module>Tailored_Goshippo</module>
                    <frontName>goshippo</frontName>
                </args>
            </goshippo>
        </routers>
    </admin>
    <adminhtml>

       <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <goshippo_option module="goshippo">
                                            <title>Productimage</title>
                                            <sort_order>50</sort_order>
                                        </goshippo_option>
                                    </children>
                                </config>
                            </children>
                        </system>
                      </children>
                         <Tailored_GoShippo>
                            <title>GoShippo</title>
                            <sort_order>10</sort_order>
                        </Tailored_GoShippo>
                </admin>
            </resources>
        </acl>
        <layout>
           <updates>
               <goshippo>
                   <file>goshippo.xml</file>
               </goshippo>
           </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <zeo_ocb_core_block_abstract_to_html_after>
                        <class>Tailored_Goshippo_Model_Adminhtml_Observer</class>
                        <method>addOrderCustomBlock</method>
                    </zeo_ocb_core_block_abstract_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
   </adminhtml>
    <global>
       <blocks>
            <adminhtml>
               <rewrite>
                   <sales_order_view>Tailored_Goshippo_Block_Adminhtml_Sales_Order_View</sales_order_view>
               </rewrite>
            </adminhtml>
            <goshippo>
                <class>Tailored_Goshippo_Block</class>
            </goshippo>
       </blocks>
        <helpers>
            <goshippo>
                <class>Tailored_Goshippo_Helper</class>
            </goshippo>
        </helpers>
        <models>
            <goshippo>
                <class>Tailored_Goshippo_Model</class>
            </goshippo>
        </models>
    </global>
    <default>
        <carriers>
            <tailored_goshippo>
               <showmethod>1</showmethod>
                <active>1</active>
                <model>goshippo/carrier</model>
                <title>GoShippo</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <type>I</type>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </tailored_goshippo>
        </carriers>
    </default>
</config>